<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="wrapper">

    {{> menu}}

    <div class="content">

        <form action="/articles" method="post" class="content-item">
            <p>{{title}}{{add_message}}</p>
            <h1>ADD ARTICLE</h1>
            <label for="title">TITLE</label>
            <input type="text" name="title">
            <br>
            <br>
            <label for="content">TEXT</label>
            <textarea rows='20' cols='100' name='content'></textarea>
            <br>
            <br>
            <input type="submit" value='add content'>
        </form>

    </div>

</div>

</body>
</html>