<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src='/js/subscribe.js'></script>
</head>
<body>

<div class="wrapper">

    {{> menu}}

    <div class="content">

        <ul>

        {{#each users}}

            <li>
                {{this.name}}
                <i id="{{this.id}}" class="fa fa-heart
                    {{#if this.followerId}} follow{{/if}}
                " aria-hidden="true" onclick="subscribe('{{this.id}}')"></i>
            </li>

        {{/each}}

        </ul>
    
    </div>
</div>


</body>
</html>